#testimonial {
  margin-top: 50px;
}

.card-testi .testi-photo img {
  width: 40%;
  justify-content: center;
  padding-top: 30px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 200px;
}

.card-testi .testi .rate {
  width: 40%;
  margin-top: 20px;
}

#testimonial p {
  font-size: 16px;
  font-family: Helvetica;
}

.testi .username {
  font-weight: bold;
  font-size: smaller;
}

.card-testi {
  width: 95%;
  background-color: #f1f3ff;
  border-radius: 10px;
}

#testimonial h1 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
