.row-accordion {
  margin-bottom: 50px;
  margin-top: 100px;
}

.faq h1 {
  font-family: Helvetica;
  font-size: 32px;
  justify-content: left;
  width: 100%;
  font-weight: 600;
  text-align: left;
  margin-right: 10px;
}

.faq p {
  font-family: Helvetica;
  font-size: 16px;
  justify-content: left;
  width: 100%;
  font-weight: 500;
  text-align: left;
  margin-right: 10px;
}

.accordion {
  font-family: Helvetica;
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
