.card {
  text-align: left;
  font-family: Helvetica;
  color: black;
  font-weight: 500;
  margin-bottom: 100px;
  width: 100%;
  justify-content: center;
  box-shadow: 10px;
  border-radius: 8px;
}

.image {
  width: 20%;
  margin-bottom: 20px;
}

.card .card-title {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

.card .card-text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 500;
}
