/* Navbar */

.jumbotron-body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #f1f3ff;
  max-width: 100%;
  padding-top: 50px;
}

.jumbotron-body h1 {
  font-weight: bold;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-left: 100px;
}

.jumbotron-body p {
  font-weight: 500px;
  font-size: 16px;
  margin-left: 100px;
}

.jumbotron-body .nav-button {
  margin-left: 100px;
  background-color: #5cb85f;
}

.jumbotron-body img {
  width: 60%;
  margin-left: 100px;
}

@media (max-width: 576px) {
  .jumbotron-body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #f1f3ff;
    max-width: 100%;
    padding-top: 50px;
  }
  .jumbotron-desc {
    max-width: 100%;
    position: relative;
    justify-content: center;
  }
  .jumbotron-body img {
    max-width: 100%;
    position: relative;
    justify-content: center;
  }
}
