.service {
  list-style: none;
  font-size: 16px;
  font-family: Helvetica;
  text-align: left;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.service h1 {
  font-weight: bold;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.service .list {
  margin-bottom: 10px;
}
/* li .icon {
  background-color: aqua;
} */
.service img {
  width: 60%;
}
.service img .list {
  width: 10%;
}
